@using System.Security.Claims;
@using System.Globalization;
@using TestTask.Filters;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestTask</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestTask.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="d-flex">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyNews</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Articles" asp-action="Index">@Resources.Resource.News</a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div>
                    @using (Html.BeginForm("ChangeCulture", "Culture"))
                    {
                        <select name="lang" onchange="this.form.submit()">
                            @foreach (var culture in CultureAttribute.Cultures)
                            {
                                if (culture == CultureInfo.CurrentCulture.Name)
                                {
                                    <option selected value=@culture> @culture[..2]</option>
                                }
                                else
                                {
                                    <option value=@culture> @culture[..2]</option>
                                }
                            }
                        </select>
                    }
                </div>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between mx-2">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.FindFirst(ClaimsIdentity.DefaultNameClaimType) != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="white-space: nowrap" asp-area="" asp-controller="Articles" asp-action="Create">@Resources.Resource.WriteArticle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="white-space: nowrap;" asp-area="" asp-controller="Account" asp-action="Logout">@Resources.Resource.LogOut</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="white-space: nowrap" asp-area="" asp-controller="Account" asp-action="Register">@Resources.Resource.SignIn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="white-space: nowrap" asp-area="" asp-controller="Account" asp-action="Login">@Resources.Resource.LogIn</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2023 - MyNews
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
